services:

  PyLadiesBotAPIServer:
    image: europythonbotapiserver
    build: .
    extends: PyLadiesBot
    entrypoint: ["pipenv", "run", "fastapi", "run", "PyLadiesBot/api_server/main.py", "--port", "8000"]
    ports:
      - "8000:8000"

  PyLadiesBot:
    image: europythonbot
    build: .
    env_file: ".secrets"
    # TODO: Need to get this working as am getting errors that these are directories
    # volumes:
    #   - type: bind
    #     source: /etc/PyLadies/discord/.secrets
    #     target: /home/bot/.secrets
    #     read_only: true

    #   - type: bind
    #     source: /etc/PyLadies/livestreams/livestreams.toml
    #     target: /home/bot/livestreams.toml
    #     read_only: true

    #   - type: bind
    #     source: /home/bot/registered_log.txt
    #     target: /home/bot/registered_log.txt
    #     read_only: false

    #   - type: bind
    #     source: /home/bot/schedule.json
    #     target: /home/bot/schedule.json
    #     read_only: false

    #   - type: bind
    #     source: /home/bot/pretix_cache.json
    #     target: /home/bot/pretix_cache.json
    #     read_only: false

    # read all container only logs with
    # journalctl -u docker IMAGE_NAME=europythonbot -f
    logging:
      driver: journald
    restart: unless-stopped

